// Header
.header {}

// Navbar
.nav {}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  padding-top: 28px;

  @media (max-width: $breakpoint1450) {
    column-gap: 16px;
  }

  @media (max-width: $breakpoint992) {
    justify-content: space-between;
    padding-top: 20px;
  }
}

.logo {
  z-index: 23;

  @media (max-width: $breakpoint1450) {
    img {
      width: 100px;
    }
  }

  @media (max-width: 359px) {
    img {
      width: 80px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  width: 100%;

  @media (max-width: $breakpoint1450) {
    column-gap: 10px;
  }


  // .menu__item
  &__item {
    border-bottom: 1px solid transparent;

    &.active {
      border-color: #000;


      .menu__item-link {
        font-weight: 700;
        color: #000;
      }
    }
  }

  &__item--btn {

    @media (max-width: $breakpoint992) {
      margin-left: auto;
      z-index: 23;
    }
  }

  // 
  &__item-link {
    border-bottom: 1px solid transparent;

    color: #707070;
    font-family: var(--primary-font);
    font-size: 17px;
    font-weight: 300;
    line-height: 133.4%;
    white-space: nowrap;

    transition: border-color 0.2s linear, color 0.2s linear;

    &:hover {
      border-color: #000;
      color: #000;
    }



    @media (max-width: $breakpoint1450) {
      font-size: 14px;
    }
  }

  &__item-link--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 14px 38px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.46);
    // box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);

    color: rgba(0, 0, 0, 0.56);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 125.9%;

    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: $breakpoint1450) {
      padding: 14px;
    }

    @media (max-width: $breakpoint992) {
      padding: 10px 10px;
      font-size: 12px;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

  // .menu
  .menu {
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 25px;
  }

  // .menu__link
  .menu__item-link {
    font-size: 17px;
  }
}

.header-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  .menu__item-link {
    color: #fff;

    &:hover {
      border-color: #fff;
    }
  }

  .menu__item.active {
    border-color: #fff;

    .menu__item-link {
      color: #fff;
    }
  }

  .menu__item-link--btn {
    border-color: #fff;
    color: #fff;
  }


  @media (max-width: $breakpoint992) {
    .menu__item-link {
      color: #000;
    }

    .menu__item.active {
      border-color: #000;

      .menu__item-link {
        color: #000;
      }
    }

    .menu.active~.menu__item--btn .menu__item-link--btn {
      color: #000;
      border-color: #000;
    }
  }
}